<h1>Add a car for approval</h1>
<%= form_with scope: :car_approval, url: car_approvals_path, local: true do |form| %>
    <p>
      <%= form.label :manufacturer %><br>
      <%= form.text_field :manufacturer %>
    </p>

    <p>
      <%= form.label :model %><br>
      <%= form.text_field :model %>
    </p>
    <p>
      <%= form.label :license_number %><br>
      <%= form.text_field :license_number %>
    </p>

    <p>
      <%= form.label :style %><br>
      <%= form.select :style, ["Sedan", "Coupe", "SUV"] %>
    </p>
    <p>
      <%= form.label :status %><br>
      <%= form.select :status, [["Available","A"], ["Reserved","R"], ["Checked Out","C"]] %>
    </p>

    <p>
      <%= form.label :location %><br>
      <%= form.text_field :location %>
    </p>

    <p>
      <%= form.label :rate %><br>
      <%= form.text_field :rate %>
    </p>

    <%= form.hidden_field :customer_id, :value => current_user %>
    <p>
      <%= form.submit "Send for approval" , :class => "btn btn-success" %>
    </p>
<% end %>
