<h1>Listing admins</h1>
<td><%= link_to 'Add', new_admin_path , :class => "btn btn-success"%></td>

<table class="table table-striped">
  <tr>
  <th>First Name</th>
  <th>Last Name</th>
  <th>Email</th>
  <th>Role</th>
  </tr>

  <% @admins.each do |admin| %>
    <tr>
      <td><%= admin.first_name %></td>
      <td><%= admin.last_name %></td>
      <td><%= admin.email%></td>
      <td><%= (admin.is_super_admin== true ? 'Super Admin':'Admin') %></td>
      <td><%= link_to 'Edit', edit_admin_path(:id => admin.id) , :class => 'btn btn-success' %></td>
      <% if (admin.id!=current_user) &&  !admin.is_super_admin %>
      <td><%= link_to 'Delete', admin_path(:id =>admin.id) ,method: :delete , :class => "btn btn-success"%></td>
      <% end %>
    </tr>
  <% end %>
</table>
