<%= link_to 'My Profile', edit_admin_path(:admin_id => current_user) , :class => "btn btn-primary "%>

<h1> Welcome, <%= @admin.first_name %>!</h1>

<%= link_to 'Manage Cars', cars_path , :class => "btn btn-primary"%><br>
<%= link_to 'Manage Customers', customers_path , :class => "btn btn-primary"%><br>
<%= link_to 'Manage Reservations', reservations_path , :class => "btn btn-primary"%><br>
<%= link_to 'Manage Admins', admins_path() , :class => "btn btn-primary"%><br>
