<h1>Reservations</h1>

<table>
  <tr>
    <th>User ID</th>
    <th>Car ID</th>
    <th>Reserved From</th>
    <th>Reserved Till</th>
  </tr>

  <% @reservations.each do |reservation| %>
    <tr>
      <td><%= reservation.customer_id %></td>
      <td><%= reservation.car_id %></td>
      <td><%= reservation.from_time  %></td>
      <td><%= reservation.to_time %></td>
      <td><%= link_to 'Edit', [:edit, reservation] %></td>
      <td><%= params[reservation.car_id] %></td>
      <% if params[reservation.car_id] == "R" %>
          <td><%= link_to 'Cancel', reservations_cancel_path(:car_id => reservation.car_id, :reservation_id => reservation.id ) %></td>
          <td><%= link_to 'Checkout', [:edit, reservation] %></td>
      <% elsif params[reservation.car_id] == "C"  %>
          <td><%= link_to 'Return', [:edit, reservation] %></td>
    <% end %>


    </tr>
  <% end %>
</table>
