<h1>Reserve a car!</h1>
<%= form_with scope: :reservation, url: reservations_path, local: true do |form| %>

  <% if session[:user_type] == 'admin' %>
    <p>
      <%= form.label :customer_id %>:
      <%= form.text_field :customer_id, value: session[:current_user] %>
    </p>
  <% else %>
    <%= form.hidden_field :customer_id, value: session[:current_user] %>
  <% end %>
  <p>
    <%= form.hidden_field :car_id, value: params[:car_id] %>
    <%= form.label :car_id %>:
    <%= params[:car_model] %>
  </p>

  <p>
    <%= form.label :from_time %>:
    <%= datetime_local_field(:reservation, :from_time, min:  Time.now.strftime("%FT%T")) %>
  </p>


  <p>
    <%= form.label :to_time %>:
    <%= datetime_local_field(:reservation, :to_time, min:  Time.now.strftime("%FT%T")) %>
  </p>

  <p>
    <%= form.submit "Reserve"%>
  </p>
<% end %>
