<h1>Login</h1>
<%= form_with scope: :login, url: login_index_path, local: true do |form| %>
  <p>
    <%= form.label :email %><br>
    <%= email_field(:login, :email) %>
  </p>

  <p>
    <%= form.label :password %><br>
    <%= password_field(:login, :password) %>
  </p>

  <p>
    <%= form.submit "Log In"%>
  </p>
  <p>New user? <%= link_to "Sign up now!", 'customers/new' %></p>
<% end %>
