<h1>Edit Car</h1>
<%= form_with scope: :cars, url: car_path, method: :put, local: true do |form| %>
    <p>
      <%= form.label :manufacturer %><br>
      <%= form.text_field :manufacturer, value: @car.manufacturer %>
    </p>

    <p>
      <%= form.label :model %><br>
      <%= form.text_field :model, value: @car.model %>
    </p>
    <p>
      <%= form.label :license_number %><br>
      <%= form.text_field :license_number, value: @car.license_number %>
    </p>

    <p>
      <%= form.label :style %><br>
      <%= form.select :style, ["Sedan", "Coupe", "SUV"], selected: @car.style %>
    </p>
    <p>
      <%= form.label :status %><br>
      <%= form.select :status, ["Available", "Reserved", "Checked Out"], selected: @car.status %>
    </p>

    <p>
      <%= form.label :location %><br>
      <%= form.text_field :location, value: @car.location %>
    </p>

    <p>
      <%= form.label :rate %><br>
      <%= form.text_field :rate, value: @car.rate %>
    </p>
    <p>
      <%= form.submit "Save" , :class => "btn btn-success" %>
    </p>
<% end %>
