<h1>Cars</h1>

<%= form_tag(cars_path, method: :get) do %>
  Search:
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag 'Search', name: nil , :class => "btn btn-success"%>
<% end %>

<table class="table table-striped">
  <tr>
    <th>Manufacturer</th>
    <th>Model</th>
    <th>Style</th>
    <th>License Number</th>
    <th>Location</th>
    <th>Rate</th>
    <th>Status</th>
  </tr>

  <% @cars.each do |car| %>
    <tr>
      <td><%= car.manufacturer %></td>
      <td><%= car.model%></td>
      <td><%= car.style %></td>
      <td><%= car.license_number %></td>
      <td><%= car.location %></td>
      <td><%= car.rate %></td>
      <td><%= car.status %></td>
      <td><%= link_to 'Reserve', new_reservation_path(:car_id => car.id, :car_model => car.model) , :class => "btn btn-success"%></td>
      <td><%= link_to 'Show', car_path(car.id), :class => "btn btn-info"%></td>
    </tr>
<% end %>
</table>

<!--
new_reservation_path(:car_id => car.id)-->
