<h1>Cars</h1>

<%= form_tag(cars_path, method: :get) do %>
  Search:
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag 'Search', name: nil %>
<% end %>

<table>
  <tr>
    <th>Manufacturer</th>
    <th>Model Name</th>
    <th>License Number</th>
  </tr>

  <% @cars.each do |car| %>
    <tr>
      <td><%= car.manufacturer %></td>
      <td><%= car.model %></td>
      <td><%= car.license_number %></td>
      <td><%= car.location %></td>
      <td><%= car.rate %></td>
      <td><%= link_to 'Reserve', new_reservation_path(:car_id => car.id, :car_model => car.model) %></td>
      <td><%= link_to 'Show', car_path(car.id) %></td>
    </tr>
<% end %>
</table>

<!--
new_reservation_path(:car_id => car.id)-->
