<!DOCTYPE html>
<html>
  <head>
    <title>CarRentalApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  </head>


<%= link_to 'Home', root_path,:class=>"btn btn-primary pull-left"%>

<%= link_to 'Sign Out', application_sign_out_path , :class => "btn btn-danger pull-right"%><br>

  <body>
  	<div class="container">
      
      <%= flash_messages %>

      <%= yield %>
      
    </div>
  </body>
</html>
